/**
 * Beginning Spatial with SQL Server 2008 (Apress)
 * Alastair Aitchison
 *
 * Chapter Nine : Web-Mapping
 */

-- Create a table
CREATE TABLE US_Airports(
    Code char(4) NULL,
	Name varchar(255) NULL,
	City varchar(255) NULL,
	County varchar(255) NULL,
	State char(2) NULL,
	Location geography NULL,
	Elevation int NULL
)
GO

-- Populate the table with details of US airports
INSERT INTO US_Airports VALUES ('00A ', 'STONE MOUNTAIN-BRITT MEMORIAL', 'STONE MOUNTAIN', 'DE KALB', 'GA', 0xE6100000010CC87A6AF5D5E74040D61C2098A30755C0, 986)
INSERT INTO US_Airports VALUES ('00CA', 'GOLDSTONE /GTS/', 'BARSTOW', 'SAN BERNARDINO', 'CA', 0xE6100000010CE7323509DEAC4140EF71A609DB385DC0, 3038)
INSERT INTO US_Airports VALUES ('00F ', 'TCJC-NORTHEAST CAMPUS', 'FORT WORTH', 'TARRANT', 'TX', 0xE6100000010C429605137F6C4040E3BF4010204C58C0, 600)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
GO
print 'Processed 4400 total records'
GO
print 'Processed 4500 total records'
GO
print 'Processed 4600 total records'
GO
print 'Processed 4700 total records'
GO
print 'Processed 4800 total records'
GO
print 'Processed 4900 total records'
GO
print 'Processed 5000 total records'
GO
print 'Processed 5100 total records'
GO
print 'Processed 5200 total records'
GO
print 'Processed 5300 total records'
GO
print 'Processed 5400 total records'
GO
print 'Processed 5500 total records'
GO
print 'Processed 5600 total records'
GO
print 'Processed 5700 total records'
GO
print 'Processed 5800 total records'
GO
print 'Processed 5900 total records'
GO
print 'Processed 6000 total records'
GO
print 'Processed 6100 total records'
GO
print 'Processed 6200 total records'
GO
print 'Processed 6300 total records'
GO
print 'Processed 6400 total records'
GO
print 'Processed 6500 total records'
GO
print 'Processed 6600 total records'
GO

-- Create the stored procedure
CREATE PROCEDURE [dbo].[uspAirportLocator]
@latitude float,
@longitude float
AS
BEGIN
-- Create a point representing the location where the user clicked
DECLARE @Point geography
SET @Point = geography::Point(@latitude, @longitude, 4326)
-- Use BufferWithTolerance() to create an approx. 50km search radius about the point
DECLARE @SearchArea geography
SET @SearchArea = @Point.BufferWithTolerance(50000,1000,0)
-- Select any airports that intersect the search area
SELECT
Location.STGeometryType() AS GeometryType,
Location.STAsText() AS WKT,
Name AS Title,
'City: ' + CITY + '<br/>' +
'County:' + COUNTY + '<br/>' +
'State: ' + STATE + '<br/>' AS Description
FROM
US_Airports
WHERE
Location.STIntersects(@SearchArea) = 1
-- Also select the search area itself
UNION ALL SELECT
@SearchArea.STGeometryType() AS GeometryType,
@SearchArea.STAsText() AS WKT,
'Search Area' AS Title,
'The 50km radius search area in which to identify features.' AS Description
END
GO